PORT=3000
TARGET_NOTIFICATION_EMAIL=skillversitycomplaints@gmail.com
ADMIN_USER=admin
ADMIN_PASS=skillversity123
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzuaHv411xeqhua85GlOW-mTalbcHiPgjPHpOdf4pCwKuB-Raxkhzd6u4smiN_kHh5RyQ/exec
GOOGLE_SHEET_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Skillversity IT Support <no-reply@skillversity.org>"
